.talk {
  text-align: center;
  border: 1px solid var(--main-color);
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.talk h1 {
  font-size: 2.3rem;
  padding-bottom: 1rem;
  letter-spacing: 1px;
}
.talk p {
  line-height: 1.8rem;
  padding-bottom: 2rem;
}
.talk .text  {
  margin: auto;
}

@media (max-width: 550px) {
  .talk h1 {
    font-size: 1.5rem;
  }
  .talk p {
    line-height: 1.5rem;
    font-size: 1rem;
  }
}
